<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>404</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/lineicons.css"/>
    <link rel="stylesheet" href="css/weather-icons.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-theme navbar-theme-abs navbar-theme-transparent navbar-theme-border" id="main-nav">
      <div class="container">
        <div class="navbar-inner nav">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="img/logo.png" alt="Image Alternative text" title="Image Title"/>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li class="active dropdown">
                <a class="dropdown-toggle" href="index.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">صفحه اصلی</a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="dropdown-meganav-list-items">
                        <li>
                          <a href="index.html">صفحه اصلی </a>
                        </li>
                        <li>
                          <a href="index2.html">صفحه اصلی 2</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="index.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> صفحات</a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="dropdown-meganav-list-items">
                        <li>
                          <a href="about-us.html">درباره ما</a>
                        </li>
                        <li>
                          <a href="contact.html">تماس باما</a>
                        </li>
                        <li>
                          <a href="payment-success.html"> تاییدیه رزرواسیون</a>
                        </li>
                        <li>
                          <a href="login.html"> ورود به سایت</a>
                        </li>
                        <li>
                          <a href="register.html"> ثبت نام</a>
                        </li>
                        <li>
                          <a href="404.html"> صقحه خطای 404</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="index.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">هتل</a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="dropdown-meganav-list-items">
                        <li>
                          <a href="hotel-results.html">لیست همه هتل ها</a>
                        </li>
                        <li>
                          <a href="hotel-page.html">صفحه هتل</a>
                        </li>
                        <li>
                          <a href="hotel-payment.html">رزرو هتل</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="index.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> بلیط هواپیما</a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="dropdown-meganav-list-items">
                        <li>
                          <a href="flight-results.html">لیست همه پروازها</a>
                        </li>
                        <li>
                          <a href="flight-payment.html">رزرو پرواز</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="index.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> تور</a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="dropdown-meganav-list-items">
                        <li>
                          <a href="tour-results.html">لیست همه تورها</a>
                        </li>
                        <li>
                          <a href="tour-page.html">صفحه تور</a>
                        </li>
                        <li>
                          <a href="tour-payment.html">رزرو تور</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="_desk-h">واحد پول</span>
                  <b>واحد پول</b>
                </a>
                <div class="dropdown-menu">
                  <div class="row" data-gutter="10">
                    <div class="col-md-12">
                      <ul class="dropdown-meganav-select-list-currency">
                        <li>
                          <a href="#">
                            <span>€</span>Euro
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span>£</span>Pound sterling
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span>US$</span>U.S. dollar
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="_desk-h">Language</span>
                  <img class="navbar-flag" src="img/flags/iran.png" alt="Image Alternative text" title="Image Title"/>
                </a>
                <div class="dropdown-menu">
                  <div class="row" data-gutter="10">
                    <div class="col-md-12">
                      <ul class="dropdown-meganav-select-list-lang">
                        <li>
                          <a href="#">
                            <img src="img/flags/iran.png" alt="Image Alternative text" title="Image Title"/> PERSIAN
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="img/flags/united-kingdom.png" alt="Image Alternative text" title="Image Title"/> ENGLISH
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <img src="img/flags/iraq.png" alt="Image Alternative text" title="Image Title"/>العربية
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="navbar-nav-item-user dropdown">
                <a class="dropdown-toggle" href="account.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user-circle-o navbar-nav-item-user-icon"></i>حساب کاربری
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="account.html"> <i class="fa fa-user-o"></i> حساب کاربری  </a>
                  </li>
                  <li>
                    <a href="account-cards.html"> <i class="fa fa-credit-card"></i>  افزایش اعتبار  </a>
                  </li>
                  <li>
                    <a href="account-history.html"> <i class="fa fa-ticket"></i> تاریخچه رزرو </a>
                  </li>
                  <li>
                    <a href="account-travelers.html"> <i class="fa fa-id-card-o"></i>  لیست مسافران </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="theme-hero-area theme-hero-area-full">
      <div class="theme-hero-area-bg-wrap">
        <div class="theme-hero-area-bg" style="background-image:url(img/page_404.jpg);"></div>
        <div class="theme-hero-area-mask theme-hero-area-mask-dark"></div>
        <div class="theme-hero-area-inner-shadow"></div>
      </div>
      <div class="theme-hero-area-body theme-hero-area-body-vert-center">
        <div class="container">
          <div class="theme-page-404 _ta-c">
            <p class="theme-page-404-subtitle">صفحه مورد نظر یافت نشد.</p>
            <a class="btn btn-ghost btn-xxl btn-white btn-uc" href="index.html">صفحه اصلی</a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/bootstrap.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYeBBmgAkyAN_QKjAVOiP_kWZ_eQdadeI&amp;callback=initMap&amp;libraries=places"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/blur-area.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/gmap.js"></script>
    <script src="js/magnific-popup.js"></script>
    <script src="js/ion-range-slider.js"></script>
    <script src="js/sticky-kit.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/quantity-selector.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/window-scroll-action.js"></script>
    <script src="js/fitvid.js"></script>
    <script src="js/youtube-bg.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
