@font-face{
    font-family:IranSans;
    src:url('../fonts/IRANSansWeb(FaNum).eot');
    src:url('../fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype'),url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'),url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype')
}
body{
    font-family:IranSans;
    font-size:15px;
    direction:rtl
}
.ltr{
    direction:ltr!important
}
h1,h2,h3,h4,h5,h6{
    letter-spacing:.33px;
    font-weight:700
}
.google-map{
    width:100%;
    height:300px
}
.btn{
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    -ms-transition:.2s;
    transition:.2s;
    border-radius:2px;
    letter-spacing:.75px;
    font-size:13px;
    position:relative;
    font-weight:700
}
.btn:hover{
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    -ms-transition:.2s;
    transition:.2s
}
.btn-primary-inverse,.btn-primary-invert{
    background:#fcc208;
    border-color:#fcc208;
    color:#2f0c55
}
.btn-primary-inverse:hover,.btn-primary-invert:hover{
    color:#2f0c55;
    background-color:#fcc208;
    border-color:#fcc208
}
.row.row-col-gap>[class^=col-],.row.row-wrap>[class^=col-]{
    padding-bottom:30px
}
.row.row-col-gap[data-gutter="10"]>[class^=col-],.row.row-wrap[data-gutter="10"]>[class^=col-]{
    padding-bottom:10px
}
.row.row-col-gap[data-gutter="20"]>[class^=col-],.row.row-wrap[data-gutter="20"]>[class^=col-]{
    padding-bottom:20px
}
.row.row-col-reverse>[class^=col-]{
    float:left
}
@media (max-width:992px){
    .row.row-col-mob-gap>[class^=col-]{
        margin-bottom:30px
    }
    .row.row-col-reverse>[class^=col-]{
        float:none
    }
    .row.row-mob-full{
        margin:0!important
    }
    .row.row-mob-full>[class^=col-]{
        padding:0!important
    }
}
.row.row-col-static>[class^=col-]{
    position:static
}
.row.row-col-full>[class^=col-]{
    height:100%
}
.row.row-sm-gap>[class^=col-]{
    margin-bottom:10px
}
.row.row-no-gutter,.row[data-gutter="0"],.row[data-gutter=none]{
    margin:0!important
}
.row.row-no-gutter>[class^=col-],.row[data-gutter="0"]>[class^=col-],.row[data-gutter=none]>[class^=col-]{
    padding:0!important
}
.row[data-gutter="10"]{
    margin-right:-5px;
    margin-left:-5px
}
.row[data-gutter="10"]>[class^=col-]{
    padding-right:5px;
    padding-left:5px
}
.row[data-gutter="20"]{
    margin-right:-10px;
    margin-left:-10px
}
.row[data-gutter="20"]>[class^=col-]{
    padding-right:10px;
    padding-left:10px
}
@media (min-width:992px){
    .row.row-col-border-white>[class^=col-],.row.row-col-border>[class^=col-]{
        border-right:1px solid #e6e6e6
    }
    .row.row-col-border-white>[class^=col-]{
        border-color:#fff
    }
    .row[data-gutter="40"]{
        margin-right:-20px;
        margin-left:-20px
    }
    .row[data-gutter="40"]>[class^=col-]{
        padding-right:20px;
        padding-left:20px
    }
    .row[data-gutter="60"]{
        margin-right:-30px;
        margin-left:-30px
    }
    .row[data-gutter="60"]>[class^=col-]{
        padding-right:30px;
        padding-left:30px
    }
    .row[data-gutter="80"]{
        margin-right:-40px;
        margin-left:-40px
    }
    .row[data-gutter="80"]>[class^=col-]{
        padding-right:40px;
        padding-left:40px
    }
    .row[data-gutter="100"]{
        margin-right:-50px;
        margin-left:-50px
    }
    .row[data-gutter="100"]>[class^=col-]{
        padding-right:50px;
        padding-left:50px
    }
    .row[data-gutter="120"]{
        margin-right:-60px;
        margin-left:-60px
    }
    .row[data-gutter="120"]>[class^=col-]{
        padding-right:60px;
        padding-left:60px
    }
    .row-col-eq,.row-eq-height{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:-webkit-box;
        display:-moz-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex
    }
    .navbar-theme .dropdown:hover .dropdown-menu{
        display:block
    }
}
.nav>li>a{
    margin-left:0
}
.nav-center{
    text-align:center
}
.nav-center>li{
    float:none;
    display:inline-block
}
.navbar-theme{
    margin-bottom:0;
    border-radius:0;
    background:#404040;
    border:none;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden
}
.navbar-brand{
    padding:8px 10px!important
}
.navbar-theme .navbar-toggle{
    border:none!important;
    background:0 0!important;
    margin-left:0
}
.navbar-inverse{
    background:#404040
}
.navbar-brand>img{
    max-width:100%;
    max-height:100%
}
.navbar-theme-abs{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    z-index:999
}
.navbar-theme .navbar-nav>li:hover>a{
    color:#fcc208
}
.navbar-theme .navbar-nav>li>a{
    font-size:13px;
    padding:15px 0;
    margin:0 15px
}
.navbar-theme .navbar-nav>li:last-child>a{
    margin-left:0
}
.navbar-theme .navbar-nav>li.active>a,.navbar-theme .navbar-nav>li.active>a:focus,.navbar-theme .navbar-nav>li.active>a:hover,.navbar-theme .navbar-nav>li.open>a,.navbar-theme .navbar-nav>li.open>a:focus,.navbar-theme .navbar-nav>li.open>a:hover{
    background:0 0
}
.navbar-theme.navbar-inverse .navbar-nav>li:hover>a{
    color:#fcc208
}
.navbar-theme.navbar-inverse .navbar-nav .navbar-nav-item-user-icon{
    color:#fff
}
.navbar-flag{
    height:20px
}
.navbar-theme .navbar-inner{
    position:relative
}
.navbar-theme .dropdown-menu{
    border-radius:0;
    padding:0;
    border:none;
    border-top:5px solid transparent
}
.navbar-theme .dropdown-menu>li>a{
    padding:10px 5px
}
.navbar-theme .dropdown-menu>li.active>a,.navbar-theme .dropdown-menu>li>a:hover{
    background:#0093d2;
    color:#fff
}
.navbar-nav-item-user>a{
    padding-right:30px!important
}
.navbar-nav-item-user-icon,.navbar-nav-item-user-img{
    opacity:.75;
    display:block;
    font-size:20px;
    position:absolute;
    top:50%;
    right:0;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    margin-top:-1px
}
li.active .navbar-nav-item-user-icon,li.active .navbar-nav-item-user-img,li:hover .navbar-nav-item-user-icon,li:hover .navbar-nav-item-user-img{
    opacity:1;
    -ms-filter:none;
    filter:none
}
@media (max-width:992px){
    .navbar-theme .navbar-brand{
        padding-right:0
    }
    .navbar-theme .navbar-nav{
        margin:0
    }
    .navbar-theme .navbar-nav>li{
        border-bottom:1px solid #e6e6e6
    }
    .navbar-theme .navbar-nav>li>a{
        margin:0
    }
    .navbar-theme .navbar-nav>li>a.dropdown-toggle:before{
        font-family:FontAwesome;
        content:'\f107';
        position:absolute;
        top:50%;
        left:3px;
        opacity:.33;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        font-size:18px
    }
    .navbar-theme .navbar-collapse{
        padding:0
    }
    .navbar-theme .dropdown-menu{
        padding:0;
        margin-right:10px;
        overflow:hidden
    }
    .navbar-theme .dropdown-meganav-list-items{
        padding-bottom:20px
    }
    .navbar-theme.navbar-inverse .navbar-nav>li{
        border-bottom:1px solid #4d4d4d
    }
    .navbar-theme.navbar-inverse .dropdown-meganav-list-items>li>a{
        color:#fff
    }
    .navbar-theme.navbar-theme-abs{
        display:block;
        position:relative
    }
}
.owl-carousel{
    display:none;
    width:100%;
    -webkit-tap-highlight-color:transparent;
    position:relative;
    z-index:1
}
.owl-carousel .owl-stage{
    position:relative;
    -ms-touch-action:pan-Y
}
.owl-carousel .owl-stage:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}
.owl-carousel .owl-stage-outer{
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0)
}
.owl-carousel .owl-item{
    position:relative;
    min-height:1px;
    float:right;
    -webkit-backface-visibility:hidden;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -o-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
.owl-carousel .owl-item img{
    display:block;
    width:100%;
    -webkit-transform-style:preserve-3d
}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{
    display:none
}
.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{
    cursor:hand;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-loaded{
    display:block
}
.owl-carousel.owl-loading{
    opacity:0;
    display:block
}
.owl-carousel.owl-hidden{
    opacity:0
}
.owl-carousel.owl-refresh .owl-item{
    display:none
}
.owl-carousel.owl-drag .owl-item{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-grab{
    cursor:grab
}
.owl-carousel.owl-rtl{
    direction:ltr
}
.owl-carousel.owl-rtl .owl-item{
    float:left
}
.no-js .owl-carousel{
    display:block
}
.owl-carousel .animated{
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both
}
.owl-carousel .owl-animated-in{
    z-index:0
}
.owl-carousel .owl-animated-out{
    z-index:1
}
.owl-height{
    -webkit-transition:height .5s ease-in-out;
    -moz-transition:height .5s ease-in-out;
    -o-transition:height .5s ease-in-out;
    -ms-transition:height .5s ease-in-out;
    transition:height .5s ease-in-out
}
.owl-carousel .owl-item .owl-lazy{
    opacity:0;
    -webkit-transition:opacity .4s;
    -moz-transition:opacity .4s;
    -o-transition:opacity .4s;
    -ms-transition:opacity .4s ease;
    transition:opacity .4s
}
.owl-carousel .owl-item img.owl-lazy{
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d
}
.owl-carousel .owl-video-wrapper{
    position:relative;
    height:100%;
    background:#000
}
.owl-carousel .owl-video-play-icon{
    position:absolute;
    height:80px;
    width:80px;
    right:50%;
    top:50%;
    margin-right:-40px;
    margin-top:-40px;
    cursor:pointer;
    z-index:1;
    -webkit-backface-visibility:hidden;
    -webkit-transition:-webkit-transform .1s;
    -moz-transition:-moz-transform .1s;
    -o-transition:-o-transform .1s;
    -ms-transition:-ms-transform .1s ease;
    transition:transform .1s
}
.owl-carousel .owl-video-play-icon:hover{
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3);
    transform:scale(1.3,1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{
    display:none
}
.owl-carousel .owl-video-tn{
    opacity:0;
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    background-size:contain;
    -webkit-transition:opacity .4s;
    -moz-transition:opacity .4s;
    -o-transition:opacity .4s;
    -ms-transition:opacity .4s ease;
    transition:opacity .4s
}
.owl-carousel .owl-video-frame{
    position:relative;
    z-index:1;
    height:100%;
    width:100%
}
.owl-next,.owl-prev{
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    color:#fff;
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    opacity:.5;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
    cursor:pointer;
    font-size:20px
}
.owl-next:hover,.owl-prev:hover{
    opacity:1;
    -ms-filter:none;
    filter:none
}
.owl-prev{
    right:30px
}
.owl-next{
    left:30px
}
.owl-dots{
    text-align:center;
    -webkit-tap-highlight-color:transparent;
    margin-top:15px
}
.owl-dots .owl-dot{
    display:inline-block;
    zoom:1
}
.owl-dots .owl-dot span{
    width:10px;
    height:10px;
    margin:5px 7px;
    background:#d6d6d6;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity .2s;
    -moz-transition:opacity .2s;
    -o-transition:opacity .2s;
    -ms-transition:opacity .2s ease;
    transition:opacity .2s;
    border-radius:30px
}
.owl-dots .owl-dot.active span,.owl-dots .owl-dot:hover span{
    background:#869791
}
@-moz-keyframes fadeOut{
    0%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100%{
        opacity:0
    }
}
@-webkit-keyframes fadeOut{
    0%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100%{
        opacity:0
    }
}
@-o-keyframes fadeOut{
    0%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100%{
        opacity:0
    }
}
@keyframes fadeOut{
    0%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100%{
        opacity:0
    }
}
.blur-area{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    z-index:1
}
@media (max-width:992px){
    .blur-area{
        display:none
    }
}
.icheck-label{
    padding:0!important;
    display:block
}
.icheck,.iradio{
    float:right;
    display:inline-block;
    width:12px;
    height:12px;
    border:1px solid #8c8c8c;
    cursor:pointer;
    background:0 0;
    margin-left:7px;
    overflow:hidden;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s
}
.icheck:before,.iradio:before{
    position:absolute;
    top:0;
    right:0;
    content:'\f00c';
    font-family:FontAwesome;
    font-size:7px;
    width:100%;
    height:12px;
    line-height:10px;
    text-align:center;
    display:block;
    opacity:0;
    color:#fff;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s
}
.icheck.hover:after{
    background:#0093d2
}
.icheck.checked{
    background:#0093d2;
    border-color:#0093d2
}
.icheck.checked:before{
    opacity:1;
    -ms-filter:none;
    filter:none
}
.icheck.checked:after{
    opacity:0
}
.icheck.disabled{
    background:grey
}
.icheck-title{
    display:table;
    margin-bottom:0
}
.irs{
    position:relative;
    display:block;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    height:55px
}
.irs-line{
    position:relative;
    display:block;
    overflow:hidden;
    outline:0!important;
    height:10px;
    top:33px;
    background:#eee;
    border-radius:16px;
    border:1px solid #ccc
}
.irs-line-left,.irs-line-mid,.irs-line-right{
    position:absolute;
    top:0;
    display:block;
    height:8px
}
.irs-line-left{
    right:0;
    width:11%
}
.irs-line-mid{
    right:9%;
    width:82%
}
.irs-line-right{
    left:0;
    width:11%
}
.irs-bar{
    position:absolute;
    display:block;
    right:0;
    width:0;
    height:10px;
    top:33px;
    border-top:1px solid #0093d2;
    border-bottom:1px solid #0093d2;
    background:#0093d2
}
.irs-bar-edge{
    position:absolute;
    display:block;
    right:0;
    height:10px;
    top:33px;
    border:1px solid #0093d2;
    width:14px;
    border-left:0;
    background:#0093d2;
    border-radius:0 16px 16px 0
}
.irs-shadow{
    position:absolute;
    display:none;
    right:0;
    width:0;
    height:2px;
    top:38px;
    background:#000;
    opacity:.3;
    border-radius:5px
}
.irs-slider{
    position:absolute;
    display:block;
    z-index:1;
    top:25px;
    width:27px;
    height:27px;
    border:1px solid #aaa;
    background:#ddd;
    border-radius:27px;
    cursor:pointer
}
.irs-slider.type_last{
    z-index:2
}
.irs-max,.irs-min{
    color:#333;
    position:absolute;
    display:block;
    cursor:default;
    font-size:12px;
    line-height:1.333;
    top:0;
    padding:1px 5px;
    background:rgba(0,0,0,.1);
    border-radius:3px
}
.irs-min{
    right:0
}
.irs-max{
    left:0
}
.irs-from,.irs-single,.irs-to{
    position:absolute;
    display:block;
    top:0;
    right:0;
    cursor:default;
    white-space:nowrap;
    color:#fff;
    font-size:14px;
    line-height:1.333;
    padding:1px 5px;
    background:#0093d2;
    border-radius:3px
}
.irs-grid{
    position:absolute;
    display:none;
    bottom:0;
    right:0;
    width:100%;
    height:27px
}
.irs-grid-pol{
    position:absolute;
    top:0;
    right:0;
    width:1px;
    height:8px;
    opacity:.5;
    background:#0093d2
}
.irs-grid-pol.small{
    height:4px;
    background:#999
}
.irs-grid-text{
    position:absolute;
    right:0;
    white-space:nowrap;
    text-align:center;
    font-size:9px;
    line-height:9px;
    padding:0 3px;
    color:#0093d2;
    bottom:5px
}
.irs-disable-mask{
    position:absolute;
    display:block;
    top:0;
    right:-1%;
    width:102%;
    height:100%;
    cursor:default;
    background:#000;
    z-index:2
}
.lt-ie9 .irs-disable-mask{
    background:#000;
    opacity:0;
    cursor:not-allowed
}
.irs-hidden-input{
    position:absolute!important;
    display:block!important;
    top:0!important;
    right:0!important;
    width:0!important;
    height:0!important;
    font-size:0!important;
    line-height:0!important;
    padding:0!important;
    margin:0!important;
    overflow:hidden;
    outline:0!important;
    z-index:-9999!important;
    background:0 0!important;
    border-style:solid!important;
    border-color:transparent!important
}
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{
    -webkit-tap-highlight-color:transparent
}
.fotorama__arr:before,.fotorama__fullscreen-icon:before,.fotorama__video-close:before,.fotorama__video-play:before{
    font-family:FontAwesome
}
@media print{
    .fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{
        background:0 0!important
    }
}
.fotorama{
    min-width:1px;
    overflow:hidden
}
.fotorama:not(.fotorama--unobtrusive)>:not(:first-child){
    display:none
}
.fullscreen{
    width:100%!important;
    height:100%!important;
    max-width:100%!important;
    max-height:100%!important;
    margin:0!important;
    padding:0!important;
    overflow:hidden!important;
    background:#000
}
.fotorama__nav--thumbs{
    display:block
}
.fotorama__video{
    top:32px;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:10
}
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{
    color:#fff;
    text-align:center;
    position:absolute;
    z-index:11;
    cursor:pointer
}
.fotorama__video-play{
    width:96px;
    height:96px;
    right:50%;
    top:50%;
    margin-right:-48px;
    margin-top:-48px;
    background-position:100% -64px;
    opacity:0
}
.fotorama__video-close{
    width:32px;
    height:32px;
    top:0;
    left:0;
    background-position:-64px 0;
    z-index:20;
    opacity:0
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){
    -webkit-transform:translate3d(-32px,-32px,0);
    -moz-transform:translate3d(-32px,-32px,0);
    -o-transform:translate3d(-32px,-32px,0);
    -ms-transform:translate3d(-32px,-32px,0);
    transform:translate3d(-32px,-32px,0)
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){
    -webkit-transform:translate3d(48px,0,0);
    -moz-transform:translate3d(48px,0,0);
    -o-transform:translate3d(48px,0,0);
    -ms-transform:translate3d(48px,0,0);
    transform:translate3d(48px,0,0)
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){
    -webkit-transform:translate3d(-48px,0,0);
    -moz-transform:translate3d(-48px,0,0);
    -o-transform:translate3d(-48px,0,0);
    -ms-transform:translate3d(-48px,0,0);
    transform:translate3d(-48px,0,0)
}
.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){
    -ms-transition-property:-webkit--ms-transform,opacity;
    -webkit-transition-property:-webkit-transform,opacity;
    -moz-transition-property:-moz-transform,opacity;
    -o-transition-property:-o-transform,opacity;
    -ms-transition-property:-ms-transform,opacity;
    transition-property:transform,opacity;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    -o-transition-duration:.3s;
    -ms-transition-duration:.3s;
    transition-duration:.3s
}
@-moz-keyframes spinner{
    0%{
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        -o-transform:rotate(0);
        -ms-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        transform:rotate(-360deg)
    }
}
@-webkit-keyframes spinner{
    0%{
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        -o-transform:rotate(0);
        -ms-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        transform:rotate(-360deg)
    }
}
@-o-keyframes spinner{
    0%{
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        -o-transform:rotate(0);
        -ms-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        transform:rotate(-360deg)
    }
}
@keyframes spinner{
    0%{
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        -o-transform:rotate(0);
        -ms-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        transform:rotate(-360deg)
    }
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}
.quantity-selector-box{
    display:none;
    padding:20px 10px;
    background:#fff;
    color:#595959;
    margin-top:5px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
    box-shadow:0 6px 12px rgba(0,0,0,.175);
    overflow:hidden;
    position:absolute;
    width:100%;
    z-index:999
}
.quantity-selector-box.show{
    display:block
}
.typeahead.dropdown-menu{
    border-radius:0;
    border:none;
    border-top:5px solid transparent;
    padding:0;
    width:100%
}
.typeahead.dropdown-menu>li{
    border-bottom:1px solid #e6e6e6
}
.typeahead.dropdown-menu>li:last-child{
    border:none
}
.typeahead.dropdown-menu>li.active>a{
    background:#0093d2
}
.typeahead.dropdown-menu>li>a{
    padding:15px
}
.typeahead.dropdown-menu>li>a:hover{
    background:#0093d2
}
@-moz-keyframes blink{
    0%,100%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    50%{
        opacity:.5
    }
}
@-webkit-keyframes blink{
    0%,100%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    50%{
        opacity:.5
    }
}
@-o-keyframes blink{
    0%,100%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    50%{
        opacity:.5
    }
}
@keyframes blink{
    0%,100%{
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    50%{
        opacity:.5
    }
}
.magnific-popup{
    width:50%;
    background:#fff;
    margin:0 auto;
    padding:30px;
    position:relative;
    max-width:800px
}
@media (max-width:992px){
    .magnific-popup{
        width:100%!important
    }
}
.mfp-bg{
    top:0;
    right:0;
    width:100%;
    height:100%;
    z-index:1042;
    overflow:hidden;
    position:fixed;
    background:#0b0b0b;
    opacity:.8
}
.mfp-wrap{
    top:0;
    right:0;
    width:100%;
    height:100%;
    z-index:1043;
    position:fixed;
    outline:0!important;
    -webkit-backface-visibility:hidden
}
.mfp-container{
    text-align:center;
    position:absolute;
    width:100%;
    height:100%;
    right:0;
    top:0;
    padding:0 8px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.mfp-container:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle
}
.mfp-align-top .mfp-container:before{
    display:none
}
.mfp-content{
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin:0 auto;
    text-align:right;
    z-index:1045
}
.mfp-ajax-cur{
    cursor:progress
}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-mfp-image-holder .mfp-close{
    cursor:-moz-zoom-out;
    cursor:-webkit-zoom-out;
    cursor:zoom-out
}
.mfp-zoom{
    cursor:pointer;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    cursor:zoom-in
}
.mfp-auto-cursor .mfp-content{
    cursor:auto
}
.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{
    -webkit-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.mfp-loading.mfp-figure{
    display:none
}
.mfp-hide{
    display:none!important
}
.mfp-preloader{
    color:#ccc;
    position:absolute;
    top:50%;
    width:auto;
    text-align:center;
    margin-top:-.8em;
    right:8px;
    left:8px;
    z-index:1044
}
.mfp-preloader a{
    color:#ccc
}
.mfp-preloader a:hover{
    color:#fff
}
.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{
    display:none
}
button.mfp-arrow,button.mfp-close{
    overflow:visible;
    cursor:pointer;
    background:0 0;
    border:0;
    -webkit-appearance:none;
    display:block;
    outline:0;
    padding:0;
    z-index:1046
}
button::-moz-focus-inner{
    padding:0;
    border:0
}
.mfp-close{
    height:44px;
    width:44px;
    line-height:44px;
    position:absolute;
    top:0;
    left:0;
    text-decoration:none;
    text-align:center;
    opacity:.65;
    padding:0 10px 18px 0;
    color:#fff;
    font-style:normal;
    font-size:28px
}
.mfp-close:hover{
    opacity:1;
    -ms-filter:none;
    filter:none
}
.mfp-close:active{
    top:1px
}
.mfp-close-btn-in .mfp-close{
    color:#333
}
.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{
    color:#fff;
    left:-6px;
    text-align:left;
    padding-left:6px;
    width:100%
}
.mfp-counter{
    position:absolute;
    top:0;
    left:0;
    color:#ccc;
    font-size:12px;
    line-height:18px;
    white-space:nowrap
}
.mfp-arrow{
    position:absolute;
    opacity:.65;
    margin:-55px 0 0;
    top:50%;
    padding:0;
    width:90px;
    height:110px;
    -webkit-tap-highlight-color:transparent
}
.mfp-arrow:active{
    margin-top:-54px
}
.mfp-arrow:focus,.mfp-arrow:hover{
    opacity:1;
    -ms-filter:none;
    filter:none
}
.mfp-arrow:after,.mfp-arrow:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    top:0;
    right:0;
    margin-top:35px;
    margin-right:35px;
    border:inset transparent
}
.mfp-arrow:after{
    border-top-width:13px;
    border-bottom-width:13px;
    top:8px
}
.mfp-arrow:before{
    border-top-width:21px;
    border-bottom-width:21px;
    opacity:.7
}
.mfp-arrow-left{
    right:0
}
.mfp-arrow-left:after{
    border-left:17px solid #fff;
    margin-right:31px
}
.mfp-arrow-left:before{
    margin-right:25px;
    border-left:27px solid #3f3f3f
}
.mfp-arrow-right{
    left:0
}
.mfp-arrow-right:after{
    border-right:17px solid #fff;
    margin-right:39px
}
.mfp-arrow-right:before{
    border-right:27px solid #3f3f3f
}
.mfp-iframe-holder{
    padding-top:40px;
    padding-bottom:40px
}
.mfp-iframe-holder .mfp-content{
    line-height:0;
    width:100%;
    max-width:900px
}
.mfp-iframe-holder .mfp-close{
    top:-40px
}
.mfp-iframe-scaler{
    width:100%;
    height:0;
    overflow:hidden;
    padding-top:56.25%
}
img.mfp-img{
    width:auto;
    max-width:100%;
    height:auto;
    display:block;
    line-height:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:40px 0;
    margin:0 auto
}
.mfp-figure{
    line-height:0
}
.mfp-figure:after{
    content:'';
    position:absolute;
    right:0;
    top:40px;
    bottom:40px;
    display:block;
    left:0;
    width:auto;
    height:auto;
    z-index:-1;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,.6);
    box-shadow:0 0 8px rgba(0,0,0,.6);
    background:#444
}
.mfp-bottom-bar{
    margin-top:-36px;
    position:absolute;
    top:100%;
    right:0;
    width:100%;
    cursor:auto
}
.mfp-title{
    text-align:right;
    line-height:18px;
    color:#3f3f3f;
    word-wrap:break-word;
    padding-left:36px
}
@media all and (max-width:900px){
    .mfp-arrow{
        -webkit-transform:scale(.75);
        -moz-transform:scale(.75);
        -o-transform:scale(.75);
        -ms-transform:scale(.75);
        transform:scale(.75)
    }
    .mfp-arrow-left{
        -webkit-transform-origin:100%;
        -moz-transform-origin:100%;
        -o-transform-origin:100%;
        -ms-transform-origin:100%;
        transform-origin:100%
    }
    .mfp-arrow-right{
        -webkit-transform-origin:0;
        -moz-transform-origin:0;
        -o-transform-origin:0;
        -ms-transform-origin:0;
        transform-origin:0
    }
    .mfp-container{
        padding-right:0;
        padding-left:0
    }
}
.dropdown-meganav-list-items{
    list-style:none;
    margin:0;
    padding:5px;
    font-size:13px
}
.dropdown-meganav-list-items>li{
    margin-bottom:10px;
    margin-top:10px;
    padding:0 10px 0 5px
}
.dropdown-meganav-list-items>li>a{
    color:#6a6a6a
}
.dropdown-meganav-list-items>li>a:hover{
    color:#0d77a8;
    text-decoration:none;
    font-weight:600
}
.dropdown-meganav-select-list-currency,.dropdown-meganav-select-list-lang{
    list-style:none;
    margin:0;
    padding:0
}
.dropdown-meganav-select-list-currency{
    font-size:12px
}
.dropdown-meganav-select-list-currency>li.active>a{
    color:#fff;
    background-color:#0093d2;
    cursor:default
}
.dropdown-meganav-select-list-currency>li.active>a>span{
    color:#fff
}
.dropdown-meganav-select-list-currency>li.active>a:hover{
    color:#fff;
    background:#0093d2
}
.dropdown-meganav-select-list-currency>li>a{
    color:#7a7a7a;
    text-decoration:none!important;
    display:block;
    padding:7px 10px
}
.dropdown-meganav-select-list-currency>li>a:hover{
    color:#595959;
    background-color:#f2f2f2
}
.dropdown-meganav-select-list-currency>li>a>span{
    display:inline-block;
    font-weight:700;
    width:30px;
    margin-left:5px;
    font-size:13px;
    color:#0093d2
}
.dropdown-meganav-select-list-lang{
    font-size:13px
}
.dropdown-meganav-select-list-lang>li.active>a{
    background:#e6e6e6;
    cursor:default;
    color:#505050
}
.dropdown-meganav-select-list-lang>li>a{
    padding:7px 10px;
    display:block;
    color:#7a7a7a;
    text-decoration:none!important
}
.dropdown-meganav-select-list-lang>li>a:hover{
    background:#e6e6e6;
    color:#505050
}
.dropdown-meganav-select-list-lang>li>a>img{
    height:17px;
    margin-left:7px
}
@media (max-width:993px){
    .theme-page-section{
        padding:15px 0
    }
}
@media (min-width:993px){
    .theme-page-section{
        padding:65px 0
    }
}
.theme-page-section-gray{
    background:#e6e6e6
}
.bg-fixed{
    background-attachment:fixed
}
body,html{
    overflow-x:hidden
}
.theme-search-results-sort{
    padding:15px 20px;
    margin-bottom:10px;
    z-index:15;
    border-radius:2px;
    border:1px solid #d9d9d9;
    background:#fff
}
.theme-search-results-sort-title{
    font-size:13px;
    margin:0 0 0 14px;
    float:right;
    font-weight:400;
    letter-spacing:0;
    color:#4c4c4c
}
.theme-search-results-sort-list{
    float:right;
    list-style:none;
    margin:0;
    padding:0
}
.theme-search-results-sort-list>li{
    float:right;
    border-right:1px solid #eaeaea
}
.theme-search-results-sort-list>li:last-child{
    border-left:1px solid #f2f2f2
}
.theme-search-results-sort-list>li>a{
    padding:0 17px;
    display:block;
    font-size:13px;
    color:#737373;
    margin-bottom:2px;
    opacity:.85
}
.theme-search-results-sort-list>li>a:hover{
    color:#262626;
    text-decoration:none
}
.theme-search-results-sort-list>li.active>a,.theme-search-results-sort-list>li.active>a:hover{
    opacity:1;
    -ms-filter:none;
    filter:none;
    color:#0093d2
}
.theme-search-results-item{
    border:1px solid #e6e6e6;
    margin-bottom:-1px;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
    z-index:1;
    position:relative;
    background:#fff
}
.theme-search-results-item.active .theme-search-results-item-extend{
    display:block
}
.theme-search-results-item.active,.theme-search-results-item:hover{
    -webkit-box-shadow:0 2px 20px rgba(0,0,0,.07);
    box-shadow:0 2px 20px rgba(0,0,0,.07)
}
.theme-search-results-item.active{
    border-color:#bababa;
    z-index:2
}
.theme-search-results-item-rounded{
    border-radius:3px
}
.theme-search-results-item-preview{
    padding:23px 20px;
    position:relative
}
.theme-search-results-item-mask-link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    right:0;
    display:block;
    z-index:5
}
.theme-search-results-item-book{
    position:relative;
    height:100%
}
.theme-search-results-item-bookmark{
    position:relative;
    z-index:15;
    color:#8c8c8c;
    text-align:center;
    margin-top:10px;
    display:block;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    -ms-transition:.2s;
    transition:.2s
}
.theme-search-results-item-bookmark:hover{
    text-decoration:none;
    color:#0093d2
}
.theme-search-results-item-bookmark:active,.theme-search-results-item-bookmark:focus{
    text-decoration:none;
    color:#8c8c8c
}
.theme-search-results-item-bookmark .fa{
    margin-left:5px;
    font-size:15px
}
.theme-search-results-item-bookmark span{
    font-size:10px;
    position:relative;
    top:-1.5px
}
.theme-search-results-item-bookmark.active{
    color:#0093d2;
    text-decoration:none
}
.theme-search-results-item-extend{
    position:relative
}
.theme-search-results-item-extend-inner{
    padding:30px 27px 23px
}
.theme-search-results-item-extend-close{
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    display:block;
    padding:0 23px;
    color:#595959;
    opacity:.5
}
.theme-search-results-item-extend-close:hover{
    text-decoration:none;
    color:#595959;
    opacity:1;
    -ms-filter:none;
    filter:none
}
.theme-search-results-item-price{
    text-align:center;
    margin-bottom:20px
}
.theme-search-results-item-price-tag{
    font-size:22px;
    margin-bottom:0;
    line-height:1em;
    white-space:nowrap;
    font-weight:600
}
.theme-search-results-item-price-sign{
    font-size:13px;
    color:grey;
    margin-top:5px;
    margin-bottom:15px
}
.theme-search-results-item-price-btn{
    padding:8px 0;
    border-radius:2px;
    font-weight:700;
    font-size:13px;
    position:relative;
    z-index:10
}
.theme-search-results-item-flight-sections .theme-search-results-item-flight-section{
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px dashed #e6e6e6
}
@media (min-width:992px){
    .theme-search-results-item-flight-sections .theme-search-results-item-flight-section:last-child{
        margin-bottom:0;
        padding-bottom:0;
        border:none
    }
}
.theme-search-results-item-flight-section-airline-logo-wrap{
    position:relative;
    height:100%
}
.theme-search-results-item-flight-section-airline-logo{
    display:block;
    max-width:67%;
    max-height:50px;
    top:50%;
    right:50%;
    position:absolute;
    -webkit-transform:translate3d(50%,-50%,0);
    -moz-transform:translate3d(50%,-50%,0);
    -o-transform:translate3d(50%,-50%,0);
    -ms-transform:translate3d(50%,-50%,0);
    transform:translate3d(50%,-50%,0)
}
@media (max-width:992px){
    .theme-search-results-item-flight-section-airline-logo{
        position:relative;
        width:50px;
        max-height:none;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;
        top:0;
        right:0;
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -o-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    .theme-search-results-item-flight-section-meta{
        display:table;
        margin:0 auto 20px
    }
    .theme-search-results-item-flight-section-meta>p{
        display:inline-block;
        margin:0 7px
    }
}
.theme-search-results-item-flight-section-item{
    padding:0 15px
}
.theme-search-results-item-flight-section-airline-title{
    font-size:11px;
    font-weight:400;
    opacity:.6;
    margin-bottom:0;
    margin-top:15px;
    margin-right:29px
}
@media (max-width:992px){
    .theme-search-results-item-flight-section-airline-title{
        text-align:center;
        margin-top:10px;
        font-size:12px;
        opacity:.65
    }
}
.theme-search-results-item-flight-section-meta-time{
    font-size:17px;
    font-weight:700;
    margin-bottom:6px;
    line-height:1em;
    text-transform:uppercase
}
.theme-search-results-item-flight-section-meta-city{
    font-size:16px;
    margin-bottom:10px
}
.theme-search-results-item-flight-section-path{
    position:relative;
    height:60px;
    margin:0 5px
}
@media (max-width:992px){
    .theme-search-results-item-flight-section-path{
        margin-bottom:20px
    }
}
.theme-search-results-item-flight-section-path-line{
    position:absolute;
    top:28px;
    right:0;
    width:100%;
    height:2px;
    background:#dedede
}
.theme-search-results-item-flight-section-path-icon{
    margin-bottom:9px;
    opacity:.7;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform:rotate(-95deg);
    -moz-transform:rotate(-95deg);
    -o-transform:rotate(-95deg);
    -ms-transform:rotate(-95deg);
    transform:rotate(-95deg)
}
.theme-search-results-item-flight-section-path-line-end,.theme-search-results-item-flight-section-path-line-middle,.theme-search-results-item-flight-section-path-line-middle-1,.theme-search-results-item-flight-section-path-line-middle-2,.theme-search-results-item-flight-section-path-line-start{
    position:absolute;
    right:-15px;
    text-align:center;
    width:30px
}
.theme-search-results-item-flight-section-path-line-end{
    left:-15px;
    right:auto
}
.theme-search-results-item-flight-section-path-line-end .theme-search-results-item-flight-section-path-icon{
    -webkit-transform:rotate(-175deg);
    -moz-transform:rotate(-175deg);
    -o-transform:rotate(-175deg);
    -ms-transform:rotate(-175deg);
    transform:rotate(-175deg)
}
.theme-search-results-item-flight-section-path-line-dot{
    width:8px;
    height:8px;
    border-radius:50%;
    background-color:#fff;
    margin-bottom:10px;
    border:1px solid #fcc208;
    margin-right:10px;
    -webkit-box-shadow:0 0 0 2px #fff;
    box-shadow:0 0 0 2px #fff
}
.theme-search-results-item-flight-section-path-fly-time{
    text-align:center;
    width:100%;
    position:absolute;
    top:0;
    right:0
}
.theme-search-results-item-flight-section-path-fly-time>p{
    font-size:10px;
    opacity:.65
}
.theme-search-results-item-flight-detail-items .theme-search-results-item-flight-details{
    margin-bottom:30px
}
.theme-search-results-item-flight-detail-items .theme-search-results-item-flight-details:last-child{
    margin-bottom:0
}
@media (max-width:992px){
    .theme-search-results-item-flight-details-info{
        margin-bottom:15px
    }
}
.theme-search-results-item-flight-details-info-date{
    font-weight:700;
    font-size:16px;
    margin-bottom:3px;
    line-height:1em
}
.theme-search-results-item-flight-details-info-cities{
    font-size:13px;
    margin-bottom:10px
}
.theme-search-results-item-flight-details-info-fly-time{
    font-size:13px;
    opacity:.7;
    margin-bottom:7px
}
.theme-search-results-item-flight-details-info-stops{
    font-size:12px;
    margin-bottom:0;
    opacity:.4
}
.theme-search-results-item-flight-details-schedule-list{
    list-style:none;
    margin:0;
    padding-right:30px;
    position:relative
}
.theme-search-results-item-flight-details-schedule-list:before{
    content:'';
    width:2px;
    height:120%;
    background-color:#d9d9d9;
    top:0;
    right:0;
    position:absolute
}
.theme-search-results-item-flight-details-schedule-list>li{
    margin-bottom:30px;
    position:relative
}
.theme-search-results-item-flight-details-schedule-list>li:last-child{
    margin-bottom:0
}
.theme-search-results-item-flight-details-schedule-icon{
    position:absolute;
    top:16px;
    right:-42px;
    width:26px;
    height:26px;
    line-height:26px;
    text-align:center;
    background-color:#fff;
    -webkit-box-shadow:0 0 0 1px #d9d9d9;
    box-shadow:0 0 0 1px #d9d9d9;
    color:#0093d2;
    border-radius:50%;
    display:block;
    font-size:12px
}
.theme-search-results-item-flight-details-schedule-icon.fa-plane{
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    transform:rotate(225deg)
}
.theme-search-results-item-flight-details-schedule-icon.fa-plane:before{
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    top:1px;
    margin-right:-1px
}
.theme-search-results-item-flight-details-schedule-dots{
    position:absolute;
    top:30px;
    right:100px;
    width:60%;
    border-top:2px dotted #000;
    opacity:.2
}
.theme-search-results-item-flight-details-schedule-time{
    font-size:16px;
    margin-bottom:7px;
    line-height:1em;
    background:#fff;
    position:relative;
    display:table;
    z-index:2;
    padding-left:10px
}
.theme-search-results-item-flight-details-schedule-time-item{
    font-weight:700;
    text-transform:uppercase
}
.theme-search-results-item-flight-details-schedule-time-separator{
    padding:0 6px;
    opacity:.3
}
.theme-search-results-item-flight-details-schedule-fly-time{
    position:absolute;
    top:20px;
    left:0;
    font-size:12px;
    color:#999;
    background-color:#fff;
    padding-right:10px;
    z-index:2
}
.theme-search-results-item-flight-details-schedule-destination{
    margin-bottom:10px;
    overflow:hidden
}
.theme-search-results-item-flight-details-schedule-destination-item,.theme-search-results-item-flight-details-schedule-destination-separator{
    float:right;
    line-height:1
}
.theme-search-results-item-flight-details-schedule-destination-separator{
    margin:0 10px
}
.theme-search-results-item-flight-details-schedule-destination-title{
    font-size:13px;
    margin-bottom:10px
}
.theme-search-results-item-flight-details-schedule-features{
    font-size:12px;
    list-style:none;
    padding:0;
    margin:0;
    opacity:.5
}
.theme-search-results-item-flight-details-schedule-features>li{
    display:inline-block;
    margin-left:10px
}
.theme-search-results-mobile-filters{
    position:fixed;
    bottom:0;
    width:100%;
    right:0;
    z-index:99;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
    -webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -o-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%)
}
.theme-search-results-mobile-filters.active{
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -o-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
@media (min-width:992px){
    .theme-search-results-mobile-filters{
        display:none
    }
}
.theme-search-results-mobile-filters-btn{
    -webkit-box-shadow:0 -3px 10px rgba(0,0,0,.2);
    box-shadow:0 -3px 10px rgba(0,0,0,.2);
    background:#0093d2;
    color:#fff!important;
    outline:0!important;
    text-decoration:none!important;
    display:block;
    text-align:center;
    padding:15px;
    text-transform:uppercase;
    letter-spacing:.5px;
    margin:0 15px;
    font-size:14px
}
.theme-search-results-mobile-filters-btn .fa{
    margin-left:7px
}
.theme-search-results-sidebar-section{
    margin-bottom:20px;
    padding-bottom:15px;
    border-bottom:1px solid;
    border-color:#c7c7c7
}
.theme-search-results-sidebar-section-title{
    margin-top:0;
    font-size:14px;
    margin-bottom:15px;
    letter-spacing:.33px;
    text-transform:uppercase;
    color:#666
}
.theme-search-results-sidebar-section-checkbox-list-items{
    margin:0
}
.theme-search-results-sidebar-section-checkbox-list-item{
    margin:0;
    padding-bottom:8px
}
.theme-search-results-sidebar-section-checkbox-list-item label{
    font-size:14px;
    color:#6a6a6a
}
.theme-search-results-sidebar-section-checkbox-list-item label .icheck{
    margin-bottom:-10px;
    width:18px;
    height:18px;
    margin-left:10px
}
.theme-search-results-sidebar-section-checkbox-list-item label .icheck:before{
    height:18px;
    line-height:16px
}
.theme-search-results-sidebar-section-checkbox-list-item+.theme-search-results-sidebar-section-checkbox-list-item{
    margin:0
}
.theme-search-results-sidebar-section-checkbox-list-items .theme-search-results-sidebar-section-checkbox-list-item:last-child{
    padding-bottom:0
}
.theme-search-results-sidebar-section-checkbox-list-amount{
    position:absolute;
    top:0;
    left:0;
    height:22px;
    line-height:22px;
    display:block;
    font-size:11px;
    opacity:.65
}
.theme-search-results-sidebar-sections-white .icheck.checked{
    border-color:#0093d2
}
.theme-footer{
    background:#f7f7f7;
    border-top:1px solid #d9d9d9
}
@media (max-width:992px){
    .theme-footer{
        padding-top:30px
    }
}
.theme-footer-section{
    padding:30px 0;
    position:relative
}
@media (max-width:992px){
    .theme-footer-section{
        text-align:center;
        padding:15px 0
    }
}
.theme-footer-section-title{
    margin-bottom:20px;
    margin-top:20px
}
.theme-footer-section-list{
    list-style:none;
    marign:0;
    padding:0;
    font-size:12px;
    margin-bottom:-5px
}
.theme-footer-section-list>li>a{
    padding-bottom:10px;
    color:#000;
    display:block;
    opacity:.7;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s
}
.theme-footer-section-list>li>a:hover{
    opacity:1;
    -ms-filter:none;
    filter:none;
    text-decoration:none
}
.theme-footer-brand{
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
    display:block;
    margin-bottom:20px
}
.theme-footer-brand:hover{
    opacity:1;
    -ms-filter:none;
    filter:none
}
.theme-footer-brand>img{
    width:80%
}
.theme-footer-brand-text{
    color:#b3b3b3;
    font-size:13px;
    text-align:justify
}
.theme-copyright{
    background-color:#404040;
    padding:10px 0
}
@media (max-width:992px){
    .theme-footer-brand-text{
        width:70%;
        margin:0 auto
    }
    .theme-copyright{
        padding:20px 0
    }
    .theme-copyright-text{
        text-align:center
    }
}
.theme-copyright-text{
    font-size:13px;
    margin-bottom:0;
    color:#b3b3b3
}
.theme-copyright-social{
    text-align:left;
    list-style:none;
    margin:0;
    padding:0
}
@media (max-width:992px){
    .theme-copyright-social{
        text-align:center;
        margin-top:10px
    }
    .theme-copyright-social>li{
        margin:0 10px
    }
}
.theme-copyright-social>li{
    display:inline-block;
    margin-right:15px
}
.theme-copyright-social>li>a{
    color:#fff;
    display:block;
    opacity:.75;
    text-decoration:none!important;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s
}
.theme-copyright-social>li>a:hover{
    opacity:1;
    -ms-filter:none;
    filter:none
}
._mb-10{
    margin-bottom:10px!important
}
._mb-20{
    margin-bottom:20px!important
}
@media (max-width:992px){
    ._mb-mob-30{
        margin-bottom:30px!important
    }
    ._ph-mob-0{
        padding-right:0!important;
        padding-left:0!important
    }
}
._b-n{
    border:none!important
}
.front{
    position:relative!important;
    z-index:99!important
}
.hr.dashed{
    position:absolute;
    left:0;
    right:-24px;
    top:0;
    height:100%;
    width:1px;
    border-left:2px dashed #d6d5d5
}
._br-2{
    border-radius:2px!important
}
._fs-11{
    font-size:11px!important
}
@media (min-width:992px){
    ._desk-h{
        display:none!important
    }
}
